@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");
body {
    background-color: rgb(255, 255, 255);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 10vh;
    -webkit-animation: breath 7s ease-in-out infinite;
    animation: breath 7s ease-in-out infinite;
    font-family: "Fira Code", monospace;
    font-weight: bold;
}

body .container.main {
    width: 60%;
    height: 600px;
}

body .container .row .col-md-12 .text-decoration-none .link-box {
    border: 2px solid rgb(0, 0, 0);
    background-color: black;
    padding: 15px 0;
    font-family: "Fira Code", monospace;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    /* border-radius: 40px; */
}

body .container .row .col-md-12 .text-decoration-none .link-box a {
    color: #fff;
}

body .container .row .col-md-12 .text-decoration-none .link-box:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    -webkit-transition: color 1s;
    transition: color 1s;
}

.img-profile {
    margin: 40px 0 60px 0;
}

footer {
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    border-color: darkgrey;
    font-weight: bold;
    text-align: center;
    padding-top: auto;
    padding-bottom: 1;
    clear: both;
    position: relative;
    /* margin-top: 0px;
    margin-bottom: auto; */
}

footer p {
    color: #fff;
    font-size: 1em;
    padding-top: 20px;
}

@media all and(max-width: 1000px) {
    body .container .row .col-md-12 .text-decoration-none .link-box:hover {
        color: rgb(226, 32, 32);
        background-color: rgba(19, 129, 202, 0);
    }
}